
NET "OSC" LOC = P123;
NET "HSYNC" LOC = P23;
NET "VSYNC" LOC = P21;
NET "TEST_RGB[0]" LOC = P16;
NET "TEST_RGB[1]" LOC = P14;
NET "TEST_RGB[2]" LOC = P11;
NET "H_OUTPUT[9]" LOC = P124;
NET "H_OUTPUT[8]" LOC = P127;
NET "H_OUTPUT[7]" LOC = P132;
NET "H_OUTPUT[6]" LOC = P134;
NET "H_OUTPUT[5]" LOC = P138;
NET "H_OUTPUT[4]" LOC = P140;
NET "H_OUTPUT[3]" LOC = P142;
NET "H_OUTPUT[2]" LOC = P1;
NET "H_OUTPUT[1]" LOC = P5;
NET "H_OUTPUT[0]" LOC = P7;
NET "V_OUTPUT[9]" LOC = P126;
NET "V_OUTPUT[8]" LOC = P131;
NET "V_OUTPUT[7]" LOC = P133;
NET "V_OUTPUT[6]" LOC = P137;
NET "V_OUTPUT[5]" LOC = P139;
NET "V_OUTPUT[4]" LOC = P141;
NET "V_OUTPUT[3]" LOC = P143;
NET "V_OUTPUT[2]" LOC = P2;
NET "V_OUTPUT[1]" LOC = P6;
NET "V_OUTPUT[0]" LOC = P8;
NET "OE" LOC = P121;
NET "COLOR_VALUE[0]" LOC = P24;
NET "COLOR_VALUE[1]" LOC = P22;
NET "COLOR_VALUE[2]" LOC = P17;
NET "COLOR_VALUE[3]" LOC = P15;
NET "COLOR_VALUE[4]" LOC = P12;
NET "COLOR_VALUE[5]" LOC = P10;


NET "PAUSE_BUT" LOC = P112;



NET "PAUSE_OUT" LOC = P117;
NET "POS[0]" LOC = P116;
NET "POS[1]" LOC = P115;
NET "POS[2]" LOC = P114;


NET "I_BUT" LOC = P111;






NET "PM_SW" LOC = P105;


NET "L0" LOC = P82;
NET "L1" LOC = P81;
NET "L2" LOC = P80;
NET "L3" LOC = P79;
NET "L4" LOC = P78;
NET "L5" LOC = P75;
NET "L6" LOC = P74;
NET "L7" LOC = P67;


NET "MN0" LOC = P95;
NET "MN1" LOC = P94;
NET "MN2" LOC = P93;
NET "MN3" LOC = P92;
NET "MN4" LOC = P88;
NET "MN5" LOC = P87;
NET "MN6" LOC = P85;
NET "MN7" LOC = P84;

# PlanAhead Generated physical constraints 

NET "PAUSE_BUT_SAFE" LOC = P45;
NET "I_BUT_SAFE" LOC = P46;
NET "PM_SW_SAFE" LOC = P55;
