//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 16 00:26:28 2020
//! **************************************************************************

SCHEMATIC START;
COMP "L0" LOCATE = SITE "P82" LEVEL 1;
COMP "L1" LOCATE = SITE "P81" LEVEL 1;
COMP "L2" LOCATE = SITE "P80" LEVEL 1;
COMP "L3" LOCATE = SITE "P79" LEVEL 1;
COMP "L4" LOCATE = SITE "P78" LEVEL 1;
COMP "L5" LOCATE = SITE "P75" LEVEL 1;
COMP "L6" LOCATE = SITE "P74" LEVEL 1;
COMP "L7" LOCATE = SITE "P67" LEVEL 1;
COMP "OE" LOCATE = SITE "P121" LEVEL 1;
COMP "MN0" LOCATE = SITE "P95" LEVEL 1;
COMP "MN1" LOCATE = SITE "P94" LEVEL 1;
COMP "MN2" LOCATE = SITE "P93" LEVEL 1;
COMP "MN3" LOCATE = SITE "P92" LEVEL 1;
COMP "MN4" LOCATE = SITE "P88" LEVEL 1;
COMP "MN5" LOCATE = SITE "P87" LEVEL 1;
COMP "MN6" LOCATE = SITE "P85" LEVEL 1;
COMP "MN7" LOCATE = SITE "P84" LEVEL 1;
COMP "OSC" LOCATE = SITE "P123" LEVEL 1;
COMP "I_BUT_SAFE" LOCATE = SITE "P46" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P23" LEVEL 1;
COMP "I_BUT" LOCATE = SITE "P111" LEVEL 1;
COMP "PM_SW" LOCATE = SITE "P105" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P21" LEVEL 1;
COMP "PM_SW_SAFE" LOCATE = SITE "P55" LEVEL 1;
COMP "H_OUTPUT<0>" LOCATE = SITE "P7" LEVEL 1;
COMP "H_OUTPUT<1>" LOCATE = SITE "P5" LEVEL 1;
COMP "H_OUTPUT<2>" LOCATE = SITE "P1" LEVEL 1;
COMP "H_OUTPUT<3>" LOCATE = SITE "P142" LEVEL 1;
COMP "H_OUTPUT<4>" LOCATE = SITE "P140" LEVEL 1;
COMP "H_OUTPUT<5>" LOCATE = SITE "P138" LEVEL 1;
COMP "H_OUTPUT<6>" LOCATE = SITE "P134" LEVEL 1;
COMP "H_OUTPUT<7>" LOCATE = SITE "P132" LEVEL 1;
COMP "H_OUTPUT<8>" LOCATE = SITE "P127" LEVEL 1;
COMP "H_OUTPUT<9>" LOCATE = SITE "P124" LEVEL 1;
COMP "TEST_RGB<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "TEST_RGB<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "TEST_RGB<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "COLOR_VALUE<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "COLOR_VALUE<1>" LOCATE = SITE "P22" LEVEL 1;
COMP "COLOR_VALUE<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "COLOR_VALUE<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "COLOR_VALUE<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "COLOR_VALUE<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "POS<0>" LOCATE = SITE "P116" LEVEL 1;
COMP "POS<1>" LOCATE = SITE "P115" LEVEL 1;
COMP "POS<2>" LOCATE = SITE "P114" LEVEL 1;
COMP "V_OUTPUT<0>" LOCATE = SITE "P8" LEVEL 1;
COMP "V_OUTPUT<1>" LOCATE = SITE "P6" LEVEL 1;
COMP "V_OUTPUT<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "V_OUTPUT<3>" LOCATE = SITE "P143" LEVEL 1;
COMP "V_OUTPUT<4>" LOCATE = SITE "P141" LEVEL 1;
COMP "V_OUTPUT<5>" LOCATE = SITE "P139" LEVEL 1;
COMP "V_OUTPUT<6>" LOCATE = SITE "P137" LEVEL 1;
COMP "V_OUTPUT<7>" LOCATE = SITE "P133" LEVEL 1;
COMP "V_OUTPUT<8>" LOCATE = SITE "P131" LEVEL 1;
COMP "V_OUTPUT<9>" LOCATE = SITE "P126" LEVEL 1;
COMP "PAUSE_BUT_SAFE" LOCATE = SITE "P45" LEVEL 1;
COMP "PAUSE_BUT" LOCATE = SITE "P112" LEVEL 1;
COMP "PAUSE_OUT" LOCATE = SITE "P117" LEVEL 1;
SCHEMATIC END;

